@use "sass:meta";

// display 크기 세팅

@mixin display-size($width: null, $height: null) {
  width: #{$width};
  height: #{$height};
}

@mixin display-background($path, $width:null, $height:null) {
  @include meta.apply(meta.get-mixin("display-size"), $width, $height);
  background-image: url("#{$path}");
  background-size: cover;
}

// center에 위치

@mixin div-horizontal-center($width, $height, $margin: 0) {
  @include meta.apply(meta.get-mixin("display-size"), $width, $height);
  margin: #{$margin} auto;
}

// position absolute setting

@mixin position-setting($direct1, $size1, $direct2: null, $size2: null, $dirct3: null, $size3: null) {
  position: absolute;
  #{$direct1}: #{$size1};

  @if $direct2 != null and $size2 != null {
    #{$direct2}: #{$size2};
  }
  @if $dirct3 != null and $size3 != null {
    #{$dirct3}: #{$size3};
  }
}

// 수평 리스트 세팅

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

//리스트 내의 간격 지정
@mixin child-space-between($space) {
  &:not(:last-child) {
    margin-right: #{$space};
  }

  &:not(:first-child) {
    margin-left: #{$space};
  }
}

// float된 자식 요소를 부모 요소가 인식하도록 함
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
