$Quest-image-path: "Quest";

@use "variables";
@use "fonts";
@use "display";

// 전역 css
body {
  margin: 0;
}

.inner-box {
  position: relative;
}

.horizontal {
  @include display.horizontal-list;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #535353;
}

// header css

header {
  width: 100%;

  .inner-box {
    @include display.div-horizontal-center(1180px, 120px, 10px);

    .logo-text {
      @include display.position-setting(left, 10px, bottom, 15px);
      margin: 0;
    }
  }

  #navigation {
    font-weight: bold;

    @include display.position-setting(right, 0px, bottom, 0px);

    li {
      @include display.child-space-between(20px);
    }
  }

  #utility {
    @include display.position-setting(right, 30px, top, 20px);
  }
}

main {
  @include display.display-background( 100%, 590px, "Quest/bg_main.png");
  position: relative;

  .inner-box {
    @include fonts.basic-font-style(white, 25px);

    @include display.div-horizontal-center(800px, 300px);
    @include display.position-setting(top, 150px, left, 0, right, 0);
  }

  #title {
    width: fit-content;
    @include fonts.basic-font-style(white, 80px, bold);
  }
}

#index-content {
  @include display.div-horizontal-center(1180px, 450px);

  #news-title {
    width: fit-content;
    margin: 50px auto;
  }

  #news {
    $gap-size: (1180px - 230px * 4)/12;
    @include display.clearfix;

    padding: 0 $gap-size * 3;

    article {
      width: 230px;
      float: left;

      @include display.child-space-between($gap-size);
    }
  }

  .article-title {
    font-weight: bold;
  }

  .article-content {
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.2;
  }
}

footer {
  width: 100%;
  background-color: #000e1d;

  .inner-box {
    @include display.div-horizontal-center(1000px, 100px);
    padding: 10px;

    color: #696969;

    a {
      color: #696969;
    }
  }

  .logo-text {
    margin: 0;
  }

  #menu {
    @include display.position-setting(right, 20px, bottom, 15px);

    li:not(:last-child):after {
      content: " | ";
    }
  }
}
