$Quest-image-path: "/Quest";

@import "../_variables";

// header css
header {
  border-bottom: $header-border-width solid black;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

section {
  position: relative;
  width: 1000px;
  margin-top: $header-total-height;

  article {
    float: left;

    margin: 5px;
    width: fit-content;
  }

  article.right {
    margin-right: 0;
  }

  article.left {
    margin-left: 0;
  }
}
