$Quest-image-path: "/Quest";

// header css
header {
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
}

section {
  position: relative;
  width: 1000px;

  article {
    float: left;

    margin: 5px;
    width: fit-content;
  }

  article.right {
    margin-right: 0;
  }

  article.left {
    margin-left: 0;
  }
}
